@import 'partials/base';
@import 'partials/modules/book';
@import 'partials/modules/chapter';

.container {
  @include ms-respond(padding, 4);
//  max-width: 750px;
//  min-width: 300px;
//  margin: 0 auto;
}
body {
  background: $white;
  color: $black;
}
@media screen and (min-resolution: 180dpi) {
	body {
		 color: lighten($black, 20%);
	}
}
