.chapter__title {
  @extend %h2;
  @extend %page-align;
  margin: 0 auto ms(5) auto;
  @extend %title-serif;
}
.chapter__subheading {
  @extend %h4;
  @extend %uppercase;
  margin: 0 auto;
  @extend %page-align;
  @extend %title-serif;
 }
.chapter__paragraph {
  @extend %body__text--serif;
  @extend %page-align;
  margin: 0 auto;
  @extend %indent;
  text-align: justify;
  @extend %hyphenate;
}
.chapter__list {
  @extend %body__text--sans;
  @extend %sans;
  min-width: 200px;
  max-width: 650px;
  margin: ms(-5) auto ms(-5) auto;
  & li:last-child {
    border-top: 1px solid #000;
    display: inline-block;
  }
}
.chapter__section--indented {
  margin-top: ms(1);
  @include ms-respond(padding-left, 6);
  float: right;
  .chapter__paragraph {
    margin-bottom: ms(1);
    text-indent: 0;
    position: relative;
  }
  .chapter__paragraph--dialog:before {
    content: '“';
    position: absolute;
    left: -1.5%;
  }
}
